div.buttons {
  text-align: center;
}

div.buttons h4 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.2rem;
}

div.buttons h4[data-type=title] {
  background-color: lightgreen;
}

div.buttons h4[data-type=url] {
  background-color: lightblue;
}

div.buttons h4[data-type=anchor] {
  background-color: orange;
}

div.buttons h4[data-type=markdown] {
  background-color: lightcoral;
}

div.buttons h4[data-type=scrapbox] {
  background-color: aquamarine;
}

div.buttons h4[data-type="hatena-blog-card"] {
  background-color: olivedrab;
}

div.icon {
  margin-top: 0.2rem;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 0.7rem;
  color: gray;
  text-align: center;
}

div.icon p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}
